body {
  font-family: 'Arial', sans-serif;
  padding: 2vh 2vw;
  background-color: #f4f4f4;
  margin: 0;
  overflow-x: hidden;
}

.chart-container {
  flex: 0 0 65%;
  /* Isso fará o gráfico ocupar 65% da largura disponível */
  padding: 20px;
}

.update-controls {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  flex: 0 0 35%;
  /* Isso fará as funções de atualização ocupar 35% da largura disponível */
}

.content {
  display: flex;
  flex-direction: row;
  /* Garantir que os itens estão alinhados horizontalmente */
  align-items: flex-start;
  /* Alinhar os itens pelo topo */
  width: 100%;
  max-width: 1200px;
}


.button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.banner {
  cursor: pointer;
  width: 30vw;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  transition: transform 0.3s;
}

.banner:hover {
  transform: scale(1.05);
}

.banner-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2vh;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form-container {
  background-color: #ffffff;
  padding: 2vh;
  border-radius: 8px;
  width: 80vw;
  max-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-button {
  display: block;
  margin: 2vh auto 0;
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}